{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>بازیابی رمز عبور</title>
</head>
<body>
    <p>سلام،</p>
    <p>شما درخواست بازیابی رمز عبور داده‌اید. لطفاً روی لینک زیر کلیک کنید تا رمز عبور جدید خود را تنظیم کنید:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">بازیابی رمز عبور</a></p>
    <p>اگر شما این درخواست را ارسال نکرده‌اید، نیازی به انجام کاری نیست.</p>
    <p>با تشکر،</p>
    <p>تیم پشتیبانی</p>
</body>
</html>
